<div id="about">
	<h5 class="display-1 text-xs-center h-title-custom">O mnie</h5>
	<div class="row no-space">
		<div class="col-xl-4 col-lg-4 col-md-4 no-space">
			<img class="img-fluid img-foto about-img m-x-auto" src="{{ asset('bundles/portfolio/img/foto.jpg') }}" alt="my photo">
			<ul class="social-cv text-xs-center no-space">
				<li>
					<a href="https://www.facebook.com/ka.wipek" target="_blank"><i class="mdi mdi-facebook-box"></i></a>
				</li>
				<li>
					<a href="https://www.instagram.com/_wipek_/" target="_blank"><i class="mdi mdi-instagram"></i></a>
				</li>
				<li>
					<a href="mailto:wipekxxx@gmail.com" target="_blank"><i class="mdi mdi-gmail"></i></a>
				</li>
				<li>
					<a href="https://github.com/WiPeK/" target="_blank"><i class="mdi mdi-github-box"></i></a>
				</li>
			</ul>
		</div>
		{% if aboutData is not empty %}
			<div class="col-xl-7 col-lg-7 col-md-8 no-space">
				<div class="about-text">
					{% if aboutData.aboutHead is not empty %}<h4>{{ aboutData.aboutHead }}</h4>{% endif %}
					{% if aboutData.aboutDescribe is not empty %}<p>{{ aboutData.aboutDescribe }}</p>{% endif %}
					{% if aboutData.aboutQuote is not empty %}<h5 class="motto-custom">{{ aboutData.aboutQuote }}</h5>{% endif %}
				</div>
			</div>
		{% endif %}
	</div>
	{% if aboutData is not empty %}
		<div class="row no-space">
			<div class="about-technologies m-x-auto text-xs-center">
				{% if aboutData.aboutKnowTitle is not empty %}
					<h3>{{ aboutData.aboutKnowTitle }}</h3>
					{% if aboutData.aboutKnowContent is not empty %}
						{% set tags = aboutData.aboutKnowContent|split(',') %}
						<h4>
							{% for tag in tags %}
								<span class="tag tag-default no-border-radius">{{ tag }}</span>
							{% endfor %}
						</h4>
					{% endif %}
				{% endif %}
			</div>
		</div>
		<div class="row no-space">
			<div class="about-technologies m-x-auto text-xs-center">
				{% if aboutData.aboutToKnowTitle is not empty %}
					<h3>{{ aboutData.aboutToKnowTitle }}</h3>
					{% if aboutData.aboutToKnowContent is not empty %}
						{% set tags = aboutData.aboutToKnowContent|split(',') %}
						<h4>
							{% for tag in tags %}
								<span class="tag tag-default no-border-radius">{{ tag }}</span>
							{% endfor %}
						</h4>
					{% endif %}
				{% endif %}
			</div>
		</div>
		<div class="space100"></div>
	{% endif %}
</div>