<div id="contact-form">
	<h5 class="display-1 text-xs-center h-title-custom">Kontakt</h5>
	<div class="space100"></div>
	<div class="row no-space">
		<div class="col-xl-4 col-lg-4 col-md-4 col-xs-12">
			<div class="contact-text">
				<h6>Formularz kontaktowy</h6>
				<p>Aby się ze mną skontaktować wypełnij formularz. <br>Postaram się odpowiedzieć na twoją wiadomość tak szybko jak to możliwe.</p>
				<p>Możesz także wysłać e-mail bezpośrednio na:<br> <a href="mailto:wipekxxx@gmail.com">wipekxxx@gmail.com</a> lub skontaktować się poprzez <a target="_blank" href="https://www.facebook.com/ka.wipek">Facebook</a></p>	
			</div>
		</div>
		<div class="col-xl-7 col-lg-7 col-md-8 col-xs-12">
			<div class="contact-form-container">
				{% if msg is not null %}
					<div class="alert alert-dismissible alert-info">
					  <button type="button" class="close" data-dismiss="alert">×</button>
					  <strong>{{msg}}</strong>
					</div>
				{% endif %}
				{{ form_start(form) }}
				{{ form_errors(form) }}
			    {{ form_widget(form) }}
				{{ form_end(form) }}
			</div>
		</div>
		<div class="col-xl-1"></div>
	</div>
	<div class="space50"></div>
</div>