<div id="cv">
	<h5 class="display-1 text-xs-center h-title-custom">CV</h5>
	<div class="row no-space">
		<div class="col-xl-4 col-lg-4 col-md-4 no-space">
			<img class="img-fluid img-foto m-x-auto hidden-sm-down" src="{{ asset('bundles/portfolio/img/foto.jpg') }}" alt="my photo">
			<ul class="social-cv text-xs-center no-space">
				<li>
					<a href="https://www.facebook.com/ka.wipek" target="_blank"><i class="mdi mdi-facebook-box"></i></a>
				</li>
				<li>
					<a href="https://www.instagram.com/_wipek_/" target="_blank"><i class="mdi mdi-instagram"></i></a>
				</li>
				<li>
					<a href="mailto:wipekxxx@gmail.com" target="_blank"><i class="mdi mdi-gmail"></i></a>
				</li>
				<li>
					<a href="https://github.com/WiPeK/" target="_blank"><i class="mdi mdi-github-box"></i></a>
				</li>
			</ul>
		</div>
		<div class="col-xl-7 col-lg-8 col-md-8 no-space">
			{% if cvData is not empty %}
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					{% set i = 0 %}
					{% for category in cvData %}
						<li class="nav-item">
							<a class="nav-link {{(i==0)? 'active' : ''}}" data-toggle="tab" href="#aaa{{category.idCvCategory}}-tab{{category.idCvCategory}}" role="tab">{{category.cvCategoryName}}</a>
							{% set i = 1 %}
						</li>
					{% endfor %}
				</ul>
			{% else %}
				Niestety CV jest puste
			{% endif %}

			<div class="tab-content tabs-custom">
				{% if cvData is not empty %}
				{% set j = 0 %}
					{% for category in cvData %}
						<div class="tab-pane fade in {{(j==0)? 'active' : ''}}" id="aaa{{category.idCvCategory}}-tab{{category.idCvCategory}}" role="tabpanel">
							<ul class="cv-tabs">
								{% for property in category.properties %}
								{% if (property.cvPropertyTitle is not empty) and (property.cvPropertyName is not empty) and (property.cvDateFrom is not empty) %}
									<span class="cirli"></span>
								{% elseif ((property.cvPropertyTitle is not empty) and (property.cvDateFrom is empty)) or ((property.cvPropertyTitle is empty) and (property.cvDateFrom is not empty)) %}
									<span class="cirli-double"></span>
								{% else %}
									<span class="cirli-single"></span>
								{% endif %}
								<li>
									{% if property.id is not empty %}
										<div class="title-tabs">{{ property.cvPropertyTitle }}</div>
									{% endif %}
									<div class="cont-tabs">{{ property.cvPropertyName }}</div>
									{% if property.cvDateFrom is not empty %}
										<div class="date-tabs">
											{{ property.cvDateFrom|date("Y") }}
											{% if property.cvDateFrom is not empty %}
											 - {{ property.cvDateTo|date("Y") }}
											{% endif %}
										</div>
									{% endif %}
								</li>
								{% set j = 1 %}
								{% endfor %}
							</ul>
					  		<h4 class="bot-title-cv"><i class="{{category.iconClass}}"></i> {{category.cvCategoryName}}</h4>
					  	</div>
				  	{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
<div class="space100"></div>
</div>