<div id="projects">
	<h5 class="display-1 text-xs-center h-title-custom">Projekty</h5>
	<div class="space50"></div>
	<div class="row no-space">
		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 no-space">
			<div class="project-bar">
				<img class="img-fluid img-proj" src="{{ asset('bundles/portfolio/img/projects/kamienie.jpg') }}" alt="my photo">
				<div class="slid-desc w-100 text-xs-center">
					<h4 class="project-title">Kamienny Ogród</h4>
					<p class="short-describe">Lorem ipsum dolor sit amet.</p>
					<button type="button" class="btn btn-raised btn-info no-border-radius" data-toggle="modal" data-target="#modal-pr0">Zobacz</button>
				</div>
			</div>
		</div>

		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 no-space">
			<div class="project-bar">
				<img class="img-fluid img-proj" src="{{ asset('bundles/portfolio/img/projects/druk.jpg') }}" alt="my photo">
				<div class="slid-desc w-100 text-xs-center">
					<h4 class="project-title">Drukarki 3D</h4>
					<p class="short-describe">Lorem ipsum dolor sit amet.</p>
					<button type="button" class="btn btn-raised btn-info no-border-radius" data-toggle="modal" data-target="#modal-service">Zobacz</button>
				</div>
			</div>
		</div>

		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 no-space">
			<div class="project-bar">
				<img class="img-fluid img-proj" src="{{ asset('bundles/portfolio/img/projects/mapy.jpg') }}" alt="my photo">
				<div class="slid-desc w-100 text-xs-center">
					<h4 class="project-title">Mapy</h4>
					<p class="short-describe">Lorem ipsum dolor sit amet.</p>
					<button type="button" class="btn btn-raised btn-info no-border-radius" data-toggle="modal" data-target="#modal-service">Zobacz</button>
				</div>
			</div>
		</div>

		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 no-space">
			<div class="project-bar">
				<img class="img-fluid img-proj" src="{{ asset('bundles/portfolio/img/projects/mpc.png') }}" alt="my photo">
				<div class="slid-desc w-100 text-xs-center">
					<h4 class="project-title">MPC</h4>
					<p class="short-describe">Lorem ipsum dolor sit amet.</p>
					<button type="button" class="btn btn-raised btn-info no-border-radius" data-toggle="modal" data-target="#modal-service">Zobacz</button>
				</div>
			</div>
		</div>

		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 no-space">
			<div class="project-bar">
				<img class="img-fluid img-proj" src="{{ asset('bundles/portfolio/img/projects/tesla.jpg') }}" alt="my photo">
				<div class="slid-desc w-100 text-xs-center">
					<h4 class="project-title">Tesla</h4>
					<p class="short-describe">Lorem ipsum dolor sit amet.</p>
					<button type="button" class="btn btn-raised btn-info no-border-radius" data-toggle="modal" data-target="#modal-service">Zobacz</button>
				</div>
			</div>
		</div>

		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 no-space">
			<div class="project-bar">
				<img class="img-fluid img-proj" src="{{ asset('bundles/portfolio/img/projects/cms.jpg') }}" alt="my photo">
				<div class="slid-desc w-100 text-xs-center">
					<h4 class="project-title">CMS</h4>
					<p class="short-describe">Lorem ipsum dolor sit amet.</p>
					<button type="button" class="btn btn-raised btn-info no-border-radius" data-toggle="modal" data-target="#modal-service">Zobacz</button>
				</div>
			</div>
		</div>

		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 no-space">
			<div class="project-bar">
				<img class="img-fluid img-proj" src="{{ asset('bundles/portfolio/img/projects/metin.jpg') }}" alt="my photo">
				<div class="slid-desc w-100 text-xs-center">
					<h4 class="project-title">Metin2 CMS</h4>
					<p class="short-describe">Lorem ipsum dolor sit amet.</p>
					<button type="button" class="btn btn-raised btn-info no-border-radius" data-toggle="modal" data-target="#modal-service">Zobacz</button>
				</div>
			</div>
		</div>

		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 no-space">
			<div class="project-bar">
				<img class="img-fluid img-proj" src="{{ asset('bundles/portfolio/img/projects/projekt.png') }}" alt="my photo">
				<div class="slid-desc w-100 text-xs-center">
					<h4 class="project-title">Projekt PP1</h4>
					<p class="short-describe">Lorem ipsum dolor sit amet.</p>
					<button type="button" class="btn btn-raised btn-info no-border-radius" data-toggle="modal" data-target="#modal-service">Zobacz</button>
				</div>
			</div>
		</div>

		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 no-space">
			<div class="project-bar">
				<img class="img-fluid img-proj" src="{{ asset('bundles/portfolio/img/projects/pnew.png') }}" alt="my photo">
				<div class="slid-desc w-100 text-xs-center">
					<h4 class="project-title">Portfolio V2</h4>
					<p class="short-describe">Lorem ipsum dolor sit amet.</p>
					<button type="button" class="btn btn-raised btn-info no-border-radius" data-toggle="modal" data-target="#modal-service">Zobacz</button>
				</div>
			</div>
		</div>

		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 no-space">
			<div class="project-bar">
				<img class="img-fluid img-proj" src="{{ asset('bundles/portfolio/img/projects/portfolio.jpg') }}" alt="my photo">
				<div class="slid-desc w-100 text-xs-center">
					<h4 class="project-title">Portfolio V1</h4>
					<p class="short-describe">Lorem ipsum dolor sit amet.</p>
					<button type="button" class="btn btn-raised btn-info no-border-radius" data-toggle="modal" data-target="#modal-service">Zobacz</button>
				</div>
			</div>
		</div>		
	</div>
	<div class="space100"></div>
</div>