<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="description" content="{{ settingsData.settingDescription }}">
		<meta name="author" content="{{ settingsData.settingAuthor }}">
		<meta name="keywords" content="{{ settingsData.settingKeywords }}">
		<meta name="robots" content="index,follow">
		<link rel="icon" href="{{ asset(settingsData.settingIconUrl) }}">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>{% spaceless %}{{ settingsData.settingTitle }}{% endspaceless %}</title>

		{% block stylesheets %}
		    <!-- Bootstrap core CSS -->
		    <link href="{{ asset('bundles/portfolio/css/bootstrap-material-design.min.css') }}" rel="stylesheet">
		    <link href="{{ asset('bundles/portfolio/css/materialdesignicons.min.css') }}" rel="stylesheet">
		    <link href="{{ asset('bundles/portfolio/css/ripples.css') }}" rel="stylesheet">
		    <link href="{{ asset('bundles/portfolio/css/style.css') }}" rel="stylesheet">
    	{% endblock %}

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container-fluid no-space"> <span id="wid-helper">dsfsdf</span>
			{{ render(controller('PortfolioBundle:Home:getTop')) }}
			{{ render(controller('PortfolioBundle:Home:getMenu')) }}
			{{ render(controller('PortfolioBundle:Home:getOffer')) }}
			{{ render(controller('PortfolioBundle:Home:getCv')) }}
			{{ render(controller('PortfolioBundle:Home:getProjects')) }}
			{{ render(controller('PortfolioBundle:Home:getAbouts')) }}
			{{ render(controller('PortfolioBundle:Home:contact', {'request':app.request})) }}
			{{ render(controller('PortfolioBundle:Home:getFooter')) }}
		</div>
			{% block javascripts %}	
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="{{ asset('bundles/portfolio/js/jquery-3.1.0.min.js') }}"></script>
		<script src="{{ asset('bundles/portfolio/js/tether.min.js') }}"></script>

		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{{ asset('bundles/portfolio/js/bootstrap-material-design.iife.min.js') }}"></script>
		<script src="{{ asset('bundles/portfolio/js/custom.js') }}"></script>
		<script>
      $('body').bootstrapMaterialDesign();
    </script>
		{% endblock %}
	</body>
</html>