{% if topData is not empty %}
	<div class="top-custom no-space homepage-hero-module" id="top-custom">
	    <div class="video-container">
			<div class="text-on-video">
				{% if topData.isTopAsHtml == 0 %}
					{% if topData.topHeader is not empty %}
						<h3>{{ topData.topHeader }}</h3>
					{% endif %}
					{% if topData.topText is not empty %}
						<h4>{{ topData.topText }}</h4>
					{% endif %}
					{% if topData.topFooter is not empty %}
						<h2>{{ topData.topFooter }}</h2>
					{% endif %}
					<div class="clearfix"></div>
				{% else %}
					{% if topData.topAsHtml is not empty %}
						{{ topData.topAsHtml|raw }}
					{% endif %}
				{% endif %}
				<ul class="buttons-top-custom">
					{% for item in menuData %}
				        <li>
				          <a class="btn btn-raised btn-primary" href="{{ item.menuPath }}">{{ item.menuName }}</a>
				        </li>
		      		{% endfor %}
				</ul>
			</div>
			<div class="filter"></div>
	        <video autoplay loop poster="{{ asset(topData.topPosterUrl) }}" class="fillWidth">
	            <source src="{{ asset(topData.topVideoUrl) }}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
	            <source src="{{ asset(topData.topVideoUrl2) }}" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
	        </video>
	    </div>
	</div>
{% endif %}